@import "../../styles/variable.scss";

.manu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  .title {
    font-size: 14px;
    color: $soft-color;
    text-transform: uppercase;
    font-weight: 200;
  }
  .listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    color: $soft-color;

    &:hover {
      background-color: $soft-bg;
    }
  }
}
