.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  span {
    &:first-child {
      font: bold;
      color: rgb(226, 195, 195);
    }
    &:last-child {
      font-size: 14px;
      color: bisque;
    }
  }
}
